{{#if hasTimeSlots}}
    <div>
        <div class="row">
            <div class="col-9">
                <h2><i>Lab Schedule for:</i> {{realClassroom.roomNumber}}</h2>
            </div>
            <div class="col-3">
                <small>Report Generated:{{dateGenerated}}</small>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered border-dark">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-center align-content-center m-auto" scope="col">Time</th>
                            {{#each DAYS}}
                                <th scope="col" class="text-center align-content-center m-auto">{{this}}</th>
                            {{/each}}
                        </tr>
                        </thead>
                        <tbody>
                        {{#each ScheduleArray}}
                            <tr>
                                <th class="text-center align-content-center m-auto">{{lookup ../TIMES @index}}</th>
                                {{#each this}}
                                    <td>
                                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                            <p class="text-break mb-0">{{this.course.courseCode}}</p>
                                            <p class=" text-break mb-0">{{this.Instructor.lastName}}</p>
                                        </div>
                                    </td>
                                {{/each}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <h1>Nothing to display at the moment</h1>
{{/if}}


<div id="classroomReportInfoModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a Classroom Report For:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="#" class="mb-3">
                    <div class="mb-3">
                        <label for="termSelect" class="form-label">Term:</label>
                        <select id="termSelect" name="term" class="form-select">
                            {{#each terms}}
                                <option value="{{id}}">{{termNumber}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="classroomSelect" class="form-label">Classroom:</label>
                        <select id="classroomSelect" name="classroom" class="form-select">
                            {{#each classrooms}}
                                <option value="{{id}}">{{roomNumber}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    'use strict';

        window.onload = function() {
            const modal = new bootstrap.Modal(document.getElementById('classroomReportInfoModal'));

            if ({{showModal}})
            {
                modal.show();
            }
        };





</script>
