
<div id="classroomReportInfoModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Find Classroom conflicts </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="#" class="mb-3">
                    <div class="mb-3">
                        <label for="termSelect" class="form-label">Term:</label>
                        <select id="termSelect" name="term" class="form-select">
                            <option value="" selected disabled>Select Term</option>
                            {{#each terms}}
                                <option value="{{this.id}}">{{this.startDate}} - {{this.termNumber}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="classroomSelect" class="form-label">Classroom:</label>
                        <select id="classroomSelect" name="classroom" class="form-select">
                            <option value="" selected disabled>Select Classroom</option>
                            {{#each classrooms}}
                                <option value="{{id}}">{{roomNumber}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3 form-check" >
                        <input type="checkbox" name="allClassrooms" class="form-check-input" id="allClassroomSelect">
                        <label class="form-check-label" for="allClassroomSelect">All Classrooms</label>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnGenerateSchedule" disabled>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-9">
            <h2><i>Classroom:</i> {{realClassroom.roomNumber}}</h2>
        </div>
        <div class="col-3">
            <h2><i>program:</i> {{realTerm.startDate}}</h2>
        </div>
    </div>
</div>

<div class="p-4">
    <table class="table table-striped">

            <tr> {{#each headerArray}}
                <th>{{this.header}} </th>
            {{/each}}
            </tr>

        {{#each timeslotsReturned}}
            <tr>
                <td>{{this.Term.termNumber}} {{this.Term.startDate}}</td>
                <td>{{this.CourseOffering.Course.courseCode}}</td>
                <td>{{this.day}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.endTime}}</td>
                <td>{{this.Instructor.firstName}} {{this.Instructor.lastName}}</td>
            </tr>
        {{/each}}
    </table>
</div>

<script>

    'use strict';

    window.onload = function() {
        const modal = new bootstrap.Modal(document.getElementById('classroomReportInfoModal'));

        {{#if showModal}}
            modal.show();
        {{/if}}

        var termSelect = document.getElementById('termSelect');
        var classroomSelect = document.getElementById('classroomSelect');
        var submitBtn = document.getElementById('btnGenerateSchedule');

        // Add event listeners to the selects
        termSelect.addEventListener('change', handleSelectChange);
        classroomSelect.addEventListener('change', handleSelectChange);

        function handleSelectChange() {
            // Enable or disable the submit button based on whether both selects have values
            submitBtn.disabled = termSelect.value === '' || classroomSelect.value === '';
        }
    };
</script>
