{{!--TODO REMOVE ALL OF THIS! --}}

{{!--
<div id="{{selectedclassroom}}">
    <h2>{{classroom}}</h2>

    <table id=`{{classroom}}Table`>
        <thead>

        </thead>
        <tbody>
        {{ each thing in timeslots}}
        <tr>{{this.instructor}}</tr>
        <tr>{{this.instructor}}
        <tr>        {{this.instructor}}</tr>

        {{/each}}
        </tbody>

    </table>
</div>

--}}


