<div class="container">
    <h1>{{title}}</h1>
<!--    Check if courses was sent as undefined or not -->
    {{#if courses}}
<!--        table for storing course items if they do exist -->
        <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Credits</th>
                <th>Course Hours</th>
            </tr>
            </thead>
            {{#each courses}}
                <tr>
                    <td>{{this.courseCode}}</td>
                    <td>{{this.courseName}}</td>
<!--                 Centering the number elements    -->
                    <td class="text-center">{{this.courseNumCredits}}</td>
                    <td class="text-center">{{this.courseNumHoursPerWeek}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
<!--        just a simple message for now -->
        <p>No courses listed</p>

    {{/if}}

    <a href="http://localhost:3000"><button class="btn btn-success">Return Home</button></a>
</div>