<h1>{{title}}</h1>
    {{#if offerings}}
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Course Code</th>
                <th>TermRouter</th>
                <th>Group</th>
            </tr>
        </thead>
        {{#each offerings}}
            <tr>
                <td>{{this.courseCode}}</td>
                <td>{{this.termNumber}}</td>
                <td>{{this.group}}</td>
            </tr>
        {{/each}}
    </table>
    {{else}}
        <p>There are currently no course offerings in the system</p>
{{/if}}
<a href="http://localhost:3000"><button class="btn btn-success">Return Home</button></a>