<div class="container p-2">
    <h1>{{title}}</h1>
<!--    Check if courses was sent as undefined or not -->
    {{#if courseList}}
<!--        table for storing course items if they do exist -->
        <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Credits</th>
                <th>Course Hours</th>
                <th>Actions</th>
            </tr>
            </thead>
            {{#each courseList}}
                <tr>
                    <td>{{this.courseCode}}</td>
                    <td>{{this.courseName}}</td>
<!--                 Centering the number elements    -->
                    <td class="text-center">{{this.courseNumCredits}}</td>
                    <td class="text-center">{{this.courseNumHoursPerWeek}}</td>
                    <td>
                        <button id="{{this.id}}edit" type="button" class="btn btn-primary editButton"
                        data-toggle="modal" data-target="#editModal">Edit</button>
                        <button id="{{this.id}}delete" type="button" class="btn btn-danger deleteButton"
                                data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </td>

                </tr>
            {{/each}}
        </table>
    {{else}}
<!--        just a simple message for now -->
        <p>No courses listed</p>

    {{/if}}

    <a href="http://localhost:3000"><button class="btn btn-success">Return Home</button></a>
</div>