<!-- if timeslots exists we can display schedule -->
{{#if reportArray}}
    <div>
        <div class="row">
            <div class="col-9">
                <h2><i>Instructor Report For:</i> {{#if instructorName}}
                    <span id="nameDisplayer">{{instructorName.lastName}}, {{instructorName.firstName}}</span></h2>
                <p>Overall Range: {{termName.startDate}} to {{termName.endDate}}</p>
                {{/if}}
            </div>
            <div class="col-3">
                <small>Report Generated: <span id="dateGenDisplayer">{{dateGen}}</span></small>
            </div>
        </div>
    </div>

    <div id="scheduleCarousel" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
            {{#each reportArray}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
                <p id="{{this.startDate}}">Schedule Range: {{this.startDate}} to {{this.endDate}}</p>
                <div class="table-responsive">
                <table class="table table-bordered table-hover border-dark">
                    <thead>

                    <!--        Header Row-->
                    <tr>
                        <!--            6 columns designated    -->
                        <th class="text-center" scope="col">Time</th>
                        <th class="text-center" scope="col">Monday</th>
                        <th class="text-center" scope="col">Tuesday</th>
                        <th class="text-center" scope="col">Wednesday</th>
                        <th class="text-center" scope="col">Thursday</th>
                        <th class="text-center" scope="col">Friday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 2D array looping through to display instuctor report -->
                    {{#each matrixTable}}
                        <tr>
                            <!-- innerloop starts here-->
                            {{#each this}}
                                {{#if timeSlot}}
                                    <td>{{../../../program}}<br>{{course.courseCode}}{{courseOffering.group}}
                                        <br>{{classRoom.roomNumber}}</td>
                                {{else}}
                                    {{#if timeRow}}
                                        <td class="text-center">{{timeRow}}</td>
                                    {{else}}
                                        <td></td>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                </div>
            </div>
            {{/each}}
        </div>
        <!--if there are splits-->
        {{#if isSplit}}
            <!-- Carousel Controls -->
            <button class="carousel-control-prev custom-carousel-control" id="btnLeft" type="button" data-bs-target="#scheduleCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon custom-carousel-control-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" id="btnRight" type="button" data-bs-target="#scheduleCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon custom-carousel-control-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {{/if}}
    </div>
{{else}}
    <h1 id="nothingToShow">Nothing to display at the moment</h1>
{{/if}}
<!-- modal -->
<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="instructorReportModal" tabindex="-1" aria-labelledby="instructorReportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instructorReportModalLabel">Create an Instructor Report For: </h5>
                <button id="xBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--           MODAL FORM CONTENTS ENCLOSED IN MODAL-BODY -->
            <div class="modal-body">
                <!--                form begins here-->
                <form method="POST" action="/instructorReport">
                    <small class="text-info"> <b>Please select both an instructor and a term.</b></small>
                    <div class="form-group">
                        <label for="selectInstructorInstructorReport" class="form-label mt-4">Instructors</label>
                        <select name="selectInstructorReport" class="form-select" id="selectInstructorInstructorReport"
                                required>
                            <option value="" disabled selected>Select Instructor</option>
                            {{#each instructorList}}
                                <option value="{{this.id}}">{{this.lastName}}, {{this.firstName}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="selectTermInstructorReport" class="form-label mt-4">Terms</label>
                        <select name="selectTermInstructorReport" class="form-select" id="selectTermInstructorReport"
                                required>
                            <option value="" disabled selected>Select Term</option>
                            {{#each termList}}
                                <option value="{{this.id}}">{{this.calendarYear}} - Term {{this.termNumber}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button id="modalCloseBtn" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button id="submitBtn"
                                type="submit" class="btn btn-outline-success">Save changes
                        </button>
                    </div>
                </form>
                <!--                Form ends here-->

            </div>
        </div>
    </div>
</div>
<div class="btnPairsCustom">
    <button id="newInstructorReportBtn" type="button" class="btn btn-outline-info" data-bs-toggle="modal"
            data-bs-target="#instructorReportModal">
        New Report
    </button>
    <button id="printRptBtn" class="btn btn-outline-success" onclick="printReport()">Print this page</button>
</div>
<script defer>

    // Variables that will be used
    let submitBtn;
    let selectedInstructor;
    let selectedTerm;
    let xBtn;
    let newProgramBtn;
    // On arrival the modal will open
    window.onload = function () {
        closeBtn = document.getElementById("modalCloseBtn");
        xBtn = document.getElementById("xBtn");
        submitBtn = document.getElementById("submitBtn");
        selectedInstructor = document.getElementById("selectInstructorInstructorReport");
        selectedTerm = document.getElementById("selectTermInstructorReport");
        const modal = new bootstrap.Modal(document.getElementById("instructorReportModal"));
        submitBtn.disabled = true;
        // only open upon first arrival
        {{#if showModal}}
            // check if the "close" button was clicked
            closeBtn.addEventListener("click", function () {
                modal.hide();
            });

            // check if the 'x' button was clicked
            xBtn.addEventListener("click", function () {
                modal.hide();
            });

            // show the modal
            modal.show();

        {{/if}}
        selectedInstructor.onchange = checkFormSelections;
        selectedTerm.onchange = checkFormSelections;
    }

    function printReport() {
        const printWindow = window.open('', '_blank');

        // Add styles or additional content if needed
        printWindow.document.write('<html><head><title>Instructor Report</title></head><body>');

        // Print date and instructor name
        const dateGen = document.getElementById("dateGenDisplayer").innerText;
        const instructorName = document.getElementById("nameDisplayer").innerText;

        printWindow.document.write('<h2>Instructor Report For: ' + instructorName + '</h2>');
        printWindow.document.write('<p>Report Generated: ' + dateGen + '</p>');

        // Print the table
        const tableHtml = document.querySelector('.table-bordered').outerHTML;
        printWindow.document.write(tableHtml);

        printWindow.document.write('</body></html>');

        printWindow.document.close();
        printWindow.print();
    }

    /**
     * This function will enable and disable the modal submit button
     */
    function checkFormSelections() {
        // If not enough selections disable the button
        if (selectedInstructor.value !== "" && selectedTerm.value !== "") {
            submitBtn.disabled = false;
        }
        // Else enable it
        else {
            submitBtn.disabled = true;
        }
    }


</script>

<style>
    .custom-carousel-control {
        color: black;
    }

    .carousel-control-prev.custom-carousel-control {
        left: -150px;
    }

    .carousel-control-next.custom-carousel-control {
        right: -150px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: black;
    }
</style>

