<div class="container">
    <h1>{{title}}</h1>
    <form id="termForm" action="/instructorConflict" method="post">
        <div class="input-group">
            <label for="filterTerm"></label>
            <select required class="form-select" id="filterTerm" name="filterTerm">
                {{#each listTerm}}
                    <option value="{{id}}" data-termstart="{{startDate}}" data-termend="{{endDate}}">
                        {{this.calendarYear}} - Term {{this.termNumber}}
                    </option>
                {{/each}}
            </select>
            <button class="btn btn-secondary" type="submit">Generate</button>
        </div>
    </form>

    {{#if conflictList}}
        <div class="accordion" id="accordionExample">
            {{#each conflictList}}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{@index}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{@index}}"
                                aria-expanded="true" aria-controls="collapse{{@index}}">
                            {{this.instructor.firstName}} {{this.instructor.lastName}}
                        </button>
                    </h2>
                    <div id="collapse{{@index}}" class="accordion-collapse collapse show"
                         aria-labelledby="heading{{@index}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Conflicting Timeslots:</strong><br>
                            {{#each this.pairs}}
                                <div class="conflict-item">
                                    <h4>Conflict {{@index}}</h4>
                                    <div class="timeslot-info">
                                        <h5>Time Slot A:</h5>
                                        <ul>
                                            <li><strong>Course Name:</strong> {{this.timeslot1.CourseOfferingId}}</li>
                                            <li><strong>Group:</strong> {{this.timeslot1.group}}</li>
                                            <li><strong>Time:</strong> {{this.timeslot1.startTime}} - {{this.timeslot1.endTime}}</li>
                                            <li><strong>Date:</strong> {{this.timeslot1.startDate}} to {{this.timeslot1.endDate}}</li>
                                            <li><strong>Day:</strong> {{this.timeslot1.day}}</li>
                                        </ul>
                                    </div>
                                    <div class="timeslot-info">
                                        <h5>Time Slot B:</h5>
                                        <ul>
                                            <li><strong>Course Name:</strong> {{this.timeslot2.CourseOfferingId}}</li>
                                            <li><strong>Group:</strong> {{this.timeslot2.group}}</li>
                                            <li><strong>Time:</strong> {{this.timeslot2.startTime}} - {{this.timeslot2.endTime}}</li>
                                            <li><strong>Date:</strong> {{this.timeslot2.startDate}} to {{this.timeslot2.endDate}}</li>
                                            <li><strong>Day:</strong> {{this.timeslot2.day}}</li>

                                        </ul>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>No conflicts found.</p>
    {{/if}}
</div>
