<div class="container p-2">
    <div class="row mb-2">
        <h1 class="col-md-4">{{title}}</h1>
        <!--Empty spacer, to help with formatting-->
        <div class="col-md-6"></div>
        <!--Add button is at the top, for longer table lists-->
        <button type="button" class="btn btn-success col-md-2" data-toggle="modal" data-target="#createModal">
            Add New Program
        </button>
    </div>
    <table class="table table-striped">
        <thead class="table-primary">
        <tr>
            <th>Program Name</th>
            <th>Program Abbreviation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- If a program exists load the table with the programs in it -->
        {{#if program}}
            {{#each program}}
                <tr>
                    <td id="{{this.id}}programName">{{this.programName}}</td>
                    <td id="{{this.id}}programAbbreviation">{{this.programAbbreviation}}</td>
                    <td>
                        <button type="button" id="edit{{this.id}}" class="btn btn-primary editButton" data-toggle="modal"
                                data-target="#updateModal">Edit
                        </button>
                        <!--                        <button id="{{this.id}}edit" type="button" class="btn btn-primary editButton" data-toggle="modal" data-target="#editModal{{@index}}">edBrandon</button>-->
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#deleteModal{{@index}}">Delete
                        </button>
                    </td>
                </tr>
                <div class="invalid-feedback">{{putErr.programAbbreviation}}</div>



                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal{{@index}}" tabindex="-1" role="dialog"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Program: <span
                                        class="text-danger">{{this.programName}}</span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete the program <em>{{this.programName}}</em>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="/program">
                                    <input type="text" value="{{this.id}}" name="progID" id="progID" hidden>
                                    <button onclick="handleDeleteProgram('{{this.id}}', {{@index}})" type="button"
                                            class="btn btn-outline-danger delete" id="deleteProgram{{this.id}}">Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            {{/each}}
            <!-- else notify the user there is nothing to display at the moment-->
        {{else}}
            <tr>
                <td></td>
                <td>Nothing to display at the moment</td>
            </tr>
        {{/if}}
        </tbody>
    </table>
    <a href="{{URL}}">
        <button class="btn btn-outline-success">Return</button>
    </a>
    <!--Update modal - Brandon-->
    <div class="modal fade" id="updateModal" role="dialog" tabindex="-1" aria-labelledby="updateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="updateModalLabel">Edit Program</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <form action="/program" method="POST">
                        <label for="eProgramName">Program Name:</label>
                        <input type="text" class="form-control {{#if putErr.programName}}is-invalid{{/if}}" id="eProgramName"
                               name="programName" value="{{putProgram.programName}}">
                        <div class="invalid-feedback">{{putErr.programName}}</div>
                        <label for="eProgramAbbreviation">Program Abbreviation:</label>
                        <input type="text" class="form-control {{#if putErr.programAbbreviation}}is-invalid{{/if}}" id="eProgramAbbreviation"
                               name="programAbbreviation" value="{{putProgram.programAbbreviation}}">
                        <div class="invalid-feedback">{{putErr.programAbbreviation}}</div>
                        <input type="text" id="updateID" name="id" hidden/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeUpdate()">Close</button>
                    <button type="button" id="editProgram" class="btn btn-outline-success">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Create Modal-->
    <div class="modal fade" id="createModal" role="dialog" tabindex="-1" aria-labelledby="createModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createModalLabel">Input New Program</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/program" method="POST">
                        <label for="cProgramName">Program Name:</label>
                        <input type="text" class="form-control {{#if err.programName}}is-invalid{{/if}}" id="cProgramName"
                               name="programName">
                        <div class="invalid-feedback">{{err.programName}}</div>
                        <label for="cProgramAbbreviation">Program Abbreviation:</label>
                        <input type="text" class="form-control {{#if err.programAbbreviation}}is-invalid{{/if}}" id="cProgramAbbreviation"
                               name="programAbbreviation">
                        <div class="invalid-feedback">{{err.programAbbreviation}}</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeCreate()">Close</button>
                    <button type="button" id="createProgram" class="btn btn-outline-success" data-cy="createSubmit">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Add the Fetch API script -->
<script>
    'use strict';

    linkButtonFunctions();

    /**
     * This function connects buttons to proper event handlers
     */
    function linkButtonFunctions() {
        $('#createProgram').click(createProgram);
        $('#editProgram').click(editProgram);
        $('.editButton').click(function() {
            loadEditModal(this.id.replace('edit', ''));
        });
        $(".modal").on("hidden.bs.modal", function () {
            clearErrors();
        });
    }


    function openAddModal() {
        $('.is-invalid').removeClass('is-invalid');
        $('.invalid-feedback').text('');
        $('#createAbbr').val('');
        $('#createName').val('');


        const modal = $('#addModal');
        modal.modal('show');
    }

    async function createProgram() {
        // Calling the API POST
        const response = await fetch('{{URL}}/program', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                programName: $('#cProgramName').val(),
                programAbbreviation: $('#cProgramAbbreviation').val(),
            }),
        });

        // data will store the HTML information to reload the page
        const data = await response.text();
        // storing the modal ID, so that it can be called from loadResponse
        const modal = '#createModal';

        loadResponse(modal, data, !response.ok);
    };

    function loadEditModal(idToEdit) {
        $('#eProgramName').val($(`#${idToEdit}programName`).text());
        $('#eProgramAbbreviation').val($(`#${idToEdit}programAbbreviation`).text());
        $('#updateID').val(idToEdit);
    };

    async function editProgram() {
        const id = $('#updateID').val();
        const programName = $('#eProgramName').val()
        const programAbbreviation = $('#eProgramAbbreviation').val()
        // Calling the API PUT
        const response = await fetch('{{URL}}/program', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                programName,
                programAbbreviation,
                progID: id,
            }),
        });

        const data = await response.text();
        const modal = '#updateModal';

        loadResponse(modal, data, !response.ok);

        loadEditModal(id)
    };

    function loadResponse(modalID, data, hasErrs) {
        document.documentElement.innerHTML = data;

        linkButtonFunctions();

        const modal = $(modalID);
        modal.modal('hide');

        if (hasErrs) {
            modal.modal('show');
        }
    };

    async function handleDeleteProgram(programID, index) {
        // Get the program ID from the button's data attribute
        programID = programID.replace('deleteProgram', '');
        // Send a DELETE request to the router
        const response = await fetch(`{{URL}}/program`, {


            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({progID: programID}),
        });
        const data = await response.text();
        // set the whole document's HTML to be the response
        document.documentElement.innerHTML = data;
        // re-add the click handler
        //$("#deleteProgram").click(handleDeleteProgram(programID, index));


        const modal = $('#deleteModal' + index); // Update the modal selector
        modal.modal('hide');

        //if the response was not ok, pop up the modal
        if (!response.ok) {
            modal.modal('show');
        }
    }

    function clearErrors() {
        // Clear error messages or styling for input fields
        $(".is-invalid").removeClass("is-invalid");
        $(".invalid-feedback").text("");

        $('#eProgramAbbreviation').val("");
        $('#eProgramName').val("");
    }

    function closeUpdate() {
        $('#updateModal').modal('hide');
    }

    function closeCreate() {
        $('#createModal').modal('hide');
    }

</script>

