<div>
    <div id="modal">

    </div>
    <div id="main">
        <!--change this to a loop later-->
        <div id="tabBar">

        </div>
        {{#each groupArray}}
            <div id="group{{groupLetter}}">
                <div id="calender{{groupLetter}}">
                    <h2>Group {{groupLetter}} Calendar</h2>
                    <table class="table">
                        <thead>
                        <th scope="col">
                            Time
                        </th>
                        <th scope="col">
                            Monday
                        </th>
                        <th scope="col">
                            Tuesday
                        </th>
                        <th scope="col">
                            Wednesday
                        </th>
                        <th scope="col">
                            Thursday
                        </th>
                        <th scope="col">
                            Friday
                        </th>
                        </thead>
                        <tr>
                        </tr>
                        {{#each timeslotMatrix }}
                            <!--loops each timeslot, outer loop is hours, inner loop is days  -->
                            <tr>
                                {{#each this}}
<!--                                    Do an if/else if it has data - bool created in router-->
<!--                                    Then the 'each' will have different attributes and be loaded differently-->
<!--                                    via html and the router sends attributes-->
                                        <td>{{this.timeslot}}</td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </table>
                </div>
                <div id="courseList{{groupLetter}}">
                    <h2>Group {{groupLetter}} Courses</h2>
                </div>
            </div>
        {{/each}}
    </div>
</div>