<div>
    <div id="modal">

    </div>
    <div id="main">
        <!--change this to a loop later-->
        <div id="tabBar">

        </div>
        {{#each groups as | grpLetter | }}
            <div id="group{{grpLetter}}">
                <div id="calender{{grpLetter}}">
                    <h2>Group {{grpLetter}} Calendar</h2>
                    <table>

                    </table>

                </div>
                <div id="courseList{{grpLetter}}">
                    <h2>Group {{grpLetter}} Courses</h2>
                    {{#each COArray as | coObj | }}
                        {{#if eq coObj ../grpLetter }}

                            <div class="card">
                                <h3>Name: {{coObj.name}}</h3>
                            </div>
                        {{/if}}
                    {{/each}}

                </div>
            </div>
        {{/each}}

    </div>
</div>