<div>
    <div id="modal">

    </div>
    <div id="main">
        <!--change this to a loop later-->
        <div id="tabBar">

        </div>
        {{#each groups as | grpLetter | }}
            <div id="group{{grpLetter}}">
                <div id="calender{{grpLetter}}">
                    <h2>Group {{grpLetter}} Calendar</h2>
                    <table class="table">
                        <thead>
                        <th scope="col">

                        </th>
                        <th scope="col">
                            Monday
                        </th>
                        <th scope="col">
                            Tuesday
                        </th>
                        <th scope="col">
                            Wednesday
                        </th>
                        <th scope="col">
                            Thursday
                        </th>
                        <th scope="col">
                            Friday
                        </th>
                        </thead>
                        <tr>

                        </tr>
<!--                        Create a loop that creates each row from 8-14-->
<!--                        For each loop we create six cells-->
                        {{#loop}}
                            <trow>
                                <td>{{this}}(time)</td>
                                <td class="mon"></td>
                                <td class="tue"></td>
                            </trow>
                        {{/loop}}
                    </table>

                </div>
                <div id="courseList{{grpLetter}}">
                    <h2>Group {{grpLetter}} Courses</h2>
                    {{#each COArray as | coObj | }}
                        {{#if eq coObj ../grpLetter }}

                            <div class="card">
                                <h3>Name: {{coObj.name}}</h3>
                            </div>
                        {{/if}}
                    {{/each}}

                </div>
            </div>
        {{/each}}

    </div>
</div>