<div>
    <div id="scheduleModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="scheduleModalLabel"
         aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Filters For Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/schedule" method="POST">
                        <div class="mb-3">
                            <label for="termSelect" class="form-label">Term: </label>
                            <select id="termSelect" name="term" onchange="checkEnable()" class="form-select">
                                <option id="blankTerm"></option>
                                {{#each terms}}
                                    <option value="{{id}}">{{title}}</option> <!-- fix date in get -->
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="programSelect" class="form-label">Program: </label>
                            <select id="programSelect" name="program" onchange="checkEnable()" class="form-select">
                                <option id="blankProgram"></option>
                                {{#each programs}}
                                    <option value="{{id}}">{{programAbbreviation}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="groupSelect" class="form-label">Number of Groups: </label>
                            <select id="groupSelect" name="group" onchange="checkEnable()" class="form-select">
                                <option id="blankGroup"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled id="modalSubmit">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <!--change this to a loop later-->
        <div id="tabBar">
            {{#each groupArray}}
                <button id="btn{{groupLetter}}" onclick="changeGroup('{{groupLetter}}')">Group {{groupLetter}}</button>

            {{/each}}
        </div>
        {{#each groupArray}}
            <div id="group{{groupLetter}}" hidden>
                <div id="calender{{groupLetter}}">
                    <h2>Group {{groupLetter}} Calendar</h2>
                    <table class="table">
                        <thead>
                        <th scope="col">
                            Time
                        </th>
                        <th scope="col">
                            Monday
                        </th>
                        <th scope="col">
                            Tuesday
                        </th>
                        <th scope="col">
                            Wednesday
                        </th>
                        <th scope="col">
                            Thursday
                        </th>
                        <th scope="col">
                            Friday
                        </th>
                        </thead>
                        <tr>
                        </tr>
                        {{#each timeslotMatrix }}
                            <!--loops each timeslot, outer loop is hours, inner loop is days  -->
                            <tr>
                                {{#each this}}
                                    <!--                                    Do an if/else if it has data - bool created in router-->
                                    <!--                                    Then the 'each' will have different attributes and be loaded differently-->
                                    <!--                                    via html and the router sends attributes-->
                                    <td>{{this.timeslot}}</td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </table>
                </div>
                <div id="courseList{{groupLetter}}">
                    <h2>Group {{groupLetter}} Courses</h2>
                    {{#each COArray}}
                        <div>
                            <h5>{{this.name}}</h5>
                            <p>{{this.id}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>

</div>

<script>
    'use strict';
    window.onload = function() {
        const modal = new bootstrap.Modal(document.getElementById('scheduleModal'));
        {{#if getrequest}}
            modal.show();
        {{else}}
            changeGroup('A');
        {{/if}}

    };

    function checkEnable() {
        let bTermSelected = document.getElementById('termSelect').value !== '';
        let bProgramSelected = document.getElementById('programSelect').value !== '';
        let bGroupSelected = document.getElementById('groupSelect').value !== '';

        if (bTermSelected && bProgramSelected && bGroupSelected) {
            document.getElementById('modalSubmit').removeAttribute('disabled');
        } else {
            document.getElementById('modalSubmit').disabled = 'disabled';
        }
    }

    function changeGroup(group) {
        // Disable all groups
        hideAllGroups();
        // enable the current one
        document.getElementById('group' + group).removeAttribute('hidden');
        //TODO change style for button to selected

    }

    function hideAllGroups() {
        {{#each groupArray}}
            document.getElementById("group{{groupLetter}}").setAttribute('hidden', '');
        {{/each}}
        //TODO change style for buttons to unselected
    }

</script>