<h1>{{title}}</h1>
<!--If term entries are defined, we add in a table-->
{{#if termEntries}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Term Number</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <!--Here is where I loop through my array object and add in a <tr> for each loop, and a <td> for each object-->
        <tbody >
        {{#each termEntries}}
            <tr>
                <td>{{this.termNumber}}</td>
                <td>{{this.startDate}}</td>
                <td>{{this.endDate}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>

    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addModal">New</button>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" role="dialog" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Create New Term</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/term" method="POST">
                    <div class="modal-body">
                        <label for="cTermNumber">Term Number:</label>
                        <input type="text" class="form-control {{#if err.termNumber}}is-invalid{{/if}}" id="cTermNumber"
                               name="termNumber" value="{{submittedTerm.termNumber}}">
                        <div class="invalid-feedback">{{err.termNumber}}</div>

                        <label for="cStartDate">Start Date:</label>
                        <input type="date" class="form-control {{#if err.startDate}}is-invalid{{/if}}" id="cStartDate"
                               name="startDate" value="{{submittedTerm.startDate}}">
                        <div class="invalid-feedback">{{err.startDate}}</div>

                        <label for="cEndDate">End Date:</label>
                        <input type="date" class="form-control {{#if err.endDate}}is-invalid{{/if}}" id="cEndDate"
                               name="endDate" value="{{submittedTerm.endDate}}">
                        <div class="invalid-feedback">{{err.endDate}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" id="createTerm" class="btn btn-outline-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!--    If term entries are not defined we display an error message telling us no terms are stored-->
{{else}}
    <p>There are no terms stored</p>
{{/if}}

<a href="http://localhost:3000"><button class="btn btn-success">Return Home</button></a>

<!-- Debug paragraph -->
<p id="debug"></p>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- My own handlers for the form submits -->
<script>
    "use strict";

        // create handler; needs to be reassigned after html loads again
        $("#createTerm").click(handleCreateTerm);

        async function handleCreateTerm() {
            // send a POST request to the router
            const response = await fetch("http://localhost:3000/term", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    // use the val() method to get the value of a form input
                    termNumber: $("#cTermNumber").val(),
                    startDate: $("#cStartDate").val(),
                    endDate: $("#cEndDate").val(),
                }),
            });

            // get the HTML text response
            const data = await response.text();
            // set the whole document's HTML to be the response
            document.documentElement.innerHTML = data;
            // re-add the click handler
            $("#createTerm").click(handleCreateTerm);
            // refresh the modal
            const modal = $("#addModal");
            modal.modal("hide");

            // if the response was not ok, pop up the modal
            if (!response.ok) {
                modal.modal("show");
            }
        }
</script>
